input {
    border: solid 1px;
    margin: 5px;
    padding: 5px;
}

.divstyl {
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}

#selectAddID {
    width: 12%;
}

.navbar {
    margin-bottom: 40px;
}

body {
    padding: 5px;
}
.btn-outline-success {
    margin-right: 5px;
}